# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ExamSimulation4.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Manuel Gallina\OneDrive\Documenti\Progetti\Simulazione Esame V4\exam_sim_4\.idea\.idea.ExamSimulation4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
obj/